body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edeef0;  
}

h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
}

span, p {
  text-transform: uppercase;
}

input, button {
  outline: none;
}